<%= render 'layouts/messages' %>


<%= form_tag login_path, :class => 'form-signin md-3' do %>
  <h2 class="form-signin-heading">Please Log-in</h2>


  <input type="text" name="username" class="form-control" placeholder="Username" autofocus>

  <input type="password" name="password" class="form-control" placeholder="Password">

  <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

  <p> <%= link_to 'Forgot my password', new_password_recovery_path %></p>
<% end %>





