<h2>Forgot your password </h2>

<p>
  <%= Time.zone.now %>
</p>

<p>
  <%= @user.first_name %>, please click <a href="<%= @url %>">here to reset your password.</a>
</p>

<p>
  If you did not request to reset your password, please ignore this email.
</p>

<p> 
  Your System Administrator 
</p>


