<%= render 'layouts/messages' %>


<%= form_for @password_recovery, :html => {:class => 'form-signin md-3'} do %>
  <h2 class="form-signin-heading">Forgot Password</h2>
  <div class="form-group">
    <input type="text" name="email" class="form-control" placeholder="Please enter your email here" autofocus>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
<% end %>


